* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.my-type {
    background-color: white;
}

.color-bk {
    color: black;
}


.Q_A {
    width: 100%;
    position: absolute;
    display: flex;
    align-items: flex-start;
    left: 85px;
}

.container {
    margin: auto;
    width: 960px;
}

.main-content {
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

footer {
    display: flex;
    height: 40px;
    background: #eee;
    padding: 10px 0px;
}

footer .container {
    display: flex;
    justify-content: space-between;
}

.footer-menu li {
    margin: 0px 10px;
    display: inline;
}

.footer-menu a {
    font-weight: 100;
    font-size: .8em;
}

li {
    text-decoration: none;
    color : gray;
}

a {
    text-decoration: none;
    color : gray;
}